body {
  background-color: #576574;
}

.btn {
  cursor: pointer;
}
h1 {
  color: cadetblue;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: chocolate;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.8s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
